#page-mod-simplequiz2-mod form[action="modedit.php"]{

  iframe{
    position: relative !important;
    max-width: 100%;
  }

  .delete-simplequestion{
    margin-left: 10px;
  }

  .btn:disabled{
    cursor: not-allowed;
  }

  .header-questiontext {
    display: block;
    width: 100%;
    max-height: 2.8em;
    margin: 0 0 8px 0;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 14px;
    line-height: 1.4;
  }

  .header-info-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: stretch;
    flex-grow: 1;
    flex-direction: column;
    margin-bottom: 15px;
  }

  .header-btn{
    float: right;
  }

  .error_not_enough_answers, .error_no_right_answer{
    display: none;
  }

  // No wrap on "Question X" text
  [data-toggle="collapse"] ~ h3{
    text-wrap: nowrap;
  }

  // Color for answer status
  .simplequiz2-right-answer .editor_atto{
    background-color: #98E086;
  }

  .simplequiz2-wrong-answer .editor_atto{
    background-color: #E08B86;
  }

  .editor_atto_toolbar {
    opacity: 0.8;
  }
}
