@import "edit";
@import "view";


// En attente

// LAYOUT GENERIC
#page.drawers .activity-header{
  margin:0px !important;
  padding:0px !important;
}
.path-mod .activity-header:not(:empty){
  background-color: white !important;
}


