#page-mod-simplequiz2-view div[role="main"] {

  iframe {
    position: relative !important;
    max-width: 100%;
  }

}

#page-mod-simplequiz2-view #simplequiz_container {

  // When the mod is launched, only the first question is visible
  .question-container:not(:first-of-type) {
    display: none;
  }

  // Hide final results container
  #simplequiz-result {
    display: none;
    margin-top: 20px;
    text-align: center;
    font-weight: 700;
    font-size: 1.25em;
    justify-content: space-between;


    .fireworks {
      background-image: url([[pix:mod_simplequiz2|victory-fireworks]]);
      background-repeat: no-repeat;
      background-position: 50% 50%;
      width: 33%;

      @media (max-width: 930px) {
        display: none;
      }
    }

    #details {
      width: 33%;
      @media (max-width: 930px) {
        width: 100%;
      }
    }

    p {
      &:focus, &:focus-visible {
        outline: none !important;
      }
    }

  }

  // General
  .answers {
    margin: 20px auto;
    text-align: center;
    font-size: 1.25em;

    // ELEA_RQM-155
    h3, h4, h5 {
      font-family: sans-serif;
      font-variant: none;
    }
  }

  .question-text, .check-answer, .next-question, .restart {
    margin: 20px auto;
    padding: 5px 0px;
    position: relative;
    font-size: 20px;
    text-align: center;
    vertical-align: middle;
    color: #000;
    font-weight: bold;
    font-family: Arial;
  }

  // Question text
  .question-text {
    text-align: left;
    font-weight: bold;
    font-style: italic;

    // ELEA_RQM-155
    h3, h4, h5 {
      font-family: sans-serif;
      font-variant: none;
    }

    &:focus, &:focus-visible {
      outline: none !important;
    }

    .question-rank {
      color: #4D05AF;
    }

    > p {
      display: inline-block;
    }

  }

  // Answers
  .answer-container {
    margin: 5px auto;
    width: 100%;
    height: auto;
    border: 2px solid #CCCCCC;
    font-weight: bold;
    text-align: left;
    background-color: white;
    border-radius: 16px;
    padding: 50px;

    &[disabled] {
      color: inherit;
    }

    &.selected {
      background-color: #DEDEDE;
      color: #793DC0;
      border-color: #793DC0;
    }

    .answer-order {
      color: black;
    }

    .answer-text > * {
      display: inline;
    }

    // Answers status
    position: relative;

    &::after {
      position: absolute;
      top: 0;
      bottom: 0;
      width: 26px;
      height: 26px;
      z-index: 2;
      background-size: 26px;
      background-repeat: no-repeat;
      right: 10px;
      margin: auto 0;

      @media (max-width: 768px) {
        width: 30px;
        height: 30px;
        background-size: 30px;
      }
    }

    &.question-success {
      background-color: #98E086;

      &::after {
        background-image: url([[pix:mod_simplequiz2|tick]]);
        content: "";
      }
    }

    &.question-fail {
      background-color: #E08B86;

      &::after {
        background-image: url([[pix:mod_simplequiz2|cross]]);
        content: "";
      }
    }
  }

  // Question status
  .question-status {
    text-align: center;
    font-size: 1.25em;
    font-style: italic;
  }

  // Big "Vérifier la réponse", "Résultats" and "Recommencer" buttons
  button.check-answer, button.next-question, button.restart, button.show-results {
    margin: 20px auto;
    width: auto;
    height: auto;
    border-radius: 8px;
    border: 0px solid #145072;
    font-weight: bold;
    color: #FFF;
    text-align: center;
    padding: 15px;
    background-color: #180936;
    font-size: 14px;
    text-transform: uppercase;

    &:hover {
      // TODO generic components
      //background: none repeat scroll 0% 0% rgba(120, 100, 250, 0.9);
    }
  }

  // Hide next question and results buttons
  button.next-question, button.show-results {
    display: none;
  }
}
